<h3>Add money</h3>
<%= form_for @conn, Routes.bank_operation_path(@conn, :add), fn f -> %>
    <label>
        Username: <%= text_input f, :username %>
    </label>

    <label>
        Amount: <%= number_input f, :amount %>
    </label>

<%= submit "Add! :)" %>
<% end %>
